/*------------------------------------*\
    #PAGE
\*------------------------------------*/

body {
	font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; 
   	font-weight: 300;
}

.wrap {
	max-width: 1160px;
	margin: 0 auto;

	padding-left: $inuit-base-spacing-unit/2;
    padding-right: $inuit-base-spacing-unit/2;

	@include media-query(lap-and-up) {
		padding-left: $inuit-base-spacing-unit;
    	padding-right: $inuit-base-spacing-unit;
	}
}

.header {
	background-color: $inuit-base-background-color; 
}

.header__logo {
	display: block;
	width: 240px;
	margin: 0 auto;

	margin-top: $inuit-base-spacing-unit/2;
	margin-bottom: $inuit-base-spacing-unit/2;
	

	@include media-query(lap-and-up) {
		margin-top: $inuit-base-spacing-unit/2;
		margin-bottom: $inuit-base-spacing-unit/2;
	}
}

.slice {
	margin-top: $inuit-base-spacing-unit;
	padding-bottom: $inuit-base-spacing-unit*2;

	background-color: $c-blue;

	background: linear-gradient(#000080, #101864);

	color: $white;
}

h1, h2, h3, h4, h5, h6 {
	font-weight: normal;
}

ul {
	margin-left: $inuit-base-spacing-unit;
}


p {
	margin-bottom: $inuit-base-spacing-unit;
}

cite {
	font-weight: bold;
}