/*------------------------------------*\
    #BANNER
\*------------------------------------*/

.banner {
	background-color: $c-blue;
	background-image: url("../img/banner.jpg");
	background-size: cover;
	background-position: center center;
}

.banner__inner {
	padding-top: $inuit-base-spacing-unit;

	@include media-query(palm) {
		padding: $inuit-base-spacing-unit * 4 0;
	}
}

.banner__inner--thin {
	padding-top: $inuit-base-spacing-unit;
	padding-bottom: 16px;

	@include media-query(palm) {
		padding: $inuit-base-spacing-unit * 2 0;
	}
}

.banner__heading {
	font-family: Georgia,Times,Times New Roman,serif;
	font-size: 26px;
	text-align: center;
	font-weight: normal;

	margin-bottom: 16px;

	@media screen and (min-width: 600px) {
		margin-bottom: $inuit-base-spacing-unit;

		font-size: 60px;
		text-align: left;
	}


	text-shadow: 0px 2px 4px rgba(0,0,0,0.50);
	color: $white;
}

.banner__button-1 {
	width: 100%;

	@include media-query(palm) {
		width: inherit;
		margin-right: $inuit-base-spacing-unit;
		margin-left: 0;
	}
}

.banner__button-2 {
	display: none;

	@include media-query(palm) {
		display: inline-block;
	}
}