/*------------------------------------*\
    #NAV
\*------------------------------------*/

.nav {
	margin: 0 auto;

	@include media-query(lap-and-up) {
		border-color: rgb(191, 191, 191);
		border-style: solid;
		border-width: 0;

		border-top-width: 1px;
		border-bottom-width: 1px;
	}
}

.nav__list {
	display: none;

	width: 100vw;

	margin-left: 0px;

	@include media-query(lap-and-up) {
		display: block;

	    height: 48px;
	    width: 100%;

	    text-align: center;
	}
}

.nav--active {
	display: block;
}

.nav__button {
	display: block;

	@include media-query(lap-and-up) {
		display: none;
	}

	margin-right: $inuit-base-spacing-unit--small;

	text-align: right;

	&:hover {
		cursor: pointer;
	}

	background-color: $inuit-base-background-color;
}

.nav__button-text {
	color: rgb(191, 191, 191);
	text-transform: uppercase;
	font-weight: normal;
	vertical-align: super;
}

.nav__list-item { 
	@include media-query(lap-and-up) {
		display: inline-block;
	}
}

.nav__item {
	display: block;
	@include media-query(lap-and-up) {
		display: inline-block;

		padding-left: $inuit-base-spacing-unit--small;
	}

	text-decoration: none;
	padding-top: $inuit-base-spacing-unit--small;
	padding-right: $inuit-base-spacing-unit--small;
	padding-bottom: $inuit-base-spacing-unit--small;
	padding-left: $inuit-base-spacing-unit;

	color: $c-blue;

	&:hover {
		text-decoration: underline;
	}
}