/*------------------------------------*\
    #BUTTONS
\*------------------------------------*/


.btn {
	padding-left: $inuit-base-spacing-unit;
	padding-right: $inuit-base-spacing-unit;
	font-size: 20px;
    
    &:hover {
    	
    }
}

.btn--secondary {
	background-color: transparent;

	border: 1px solid $white;
}



