/*------------------------------------*\
    #SETTINGS
\*------------------------------------*/

$inuit-enable-margins: true;
$inuit-enable-margins--small: true;
$inuit-enable-paddings: true;
$inuit-enable-paddings--small: true;

$inuit-enable-btn--small: true;

// Colour
$c-blue: #000080;
$c-green: #70BE68;

$white: #fff;

// High-level base settings.
$inuit-base-text-color: $c-blue;
$inuit-base-background-color: $white;


$inuit-btn-background:      $c-green;
$inuit-btn-color:           $white;
$inuit-btn-border-width:    0;
$inuit-btn-border-style:    solid;
$inuit-btn-border-color:    $white;
$inuit-btn-radius:          0;

